*{box-sizing: border-box}
body {
  color: #4e4c4c;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
.mySlides {display: none}


.bone{
  font-size:1.5em;
}

.red{
  color:red;
}




main{
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  padding-top: 4% ;  
  
}
.container{
  clear:both;
  overflow-wrap: break-word;
}
.content_img{
  position: relative;
  float: left;
  width: 380px;
  height: 400px;
  max-width: 100%;
  margin-right: 30px; 
}

.slideshow-container img {
  max-width: 100%;
  width: 380px;
  height: 300px;
  position: relative;
  margin: auto;
}




.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  background-color: rgba(146, 141, 141, 0.8);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fadeanim {
  -webkit-animation-name: fadeanim;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeanim;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeanim {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fadeanim {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



@media screen and (max-width:766px){
  .content_img {

      float: inherit;
      
  }
}



/* comentarii */


.alertbox {
  color: #f00;
}

.container_com{
  margin-bottom: 80px; 
}

.container_com button, input {
  background-color: #FFF;
  font-size:15px;
  border: 1px solid #000;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.25);
  padding: 10px;
  height: 50px;
  
}
.container_com input{
  width: 70%;
  max-width: 100%;
}

.container_com button:hover {
  background: skyblue;
  cursor: pointer;
  transition: .3s ease;
}



.container_com ul {
  list-style: none;
}

.container_com li {
  background: rgb(153, 71, 126);
  border: 2px solid #000;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.25);
  margin: 20px;
  overflow: auto;
  padding: 10px;
  
}

.container_com li .task {
  margin: 10px;
}

.container_com li .date {
  float: right;
  margin: 5px;
}


  