{%extends "base.html"%}
{%block title%}Home{%endblock%}
{%block links%}
<link rel="stylesheet" type="text/css"
	  href="{{url_for('static', filename='css/about.css') }}" >
	  <script src="{{url_for('static', filename='js/about.js') }}"></script>

{%endblock%}
{%block content%}
<main>
		<div class="hero">
		</div>
	
		<div class="content">
		
			<h1><span class="underline underline-star"> WHO WE ARE<span>  </h1>
		
			<p>
				The K9 is the result of a collaborative effort between two leading dog welfare groups, the Humane Society of the United States and Maddie’s Fund, and the leading producer of public service advertising (PSA) campaigns, The Ad Council.
			</p>
		
			<p>
				Our goal is to make shelters the first place potential adopters turn when looking to get a new pet, ensuring that all healthy and treatable pets find loving homes. We do this by breaking down misconceptions surrounding shelter pets and celebrating the unique bond between every shelter pet and parent.	
			</p>
			
			<p>
				Thanks for visiting our page and please follow us on social media as we will be frequently posting pictures, promotions, giveaways, and updates. We are excited about the response so far from shelters and pet owners, and we can't wait to see where this journey takes us next!
			</p>
			
			<h2>
			
			Our Mission
			
			</h2>
			
			
			<p>
				We are a forever shelter, with a mission to help every adoptable animal that walks through our doors find a forever home. Your K9 pet will complete your family, and remind you of what it means to save two lives- the life of your pet, and the life of the pet that takes its place in our shelter.
			
			<p>
			
			
			<h2>
				Our Vision
			
			</h2>
			
			
			<p>	
				We promise that your pet has received the highest level of care and attention while residing at K9. In addition to providing high quality medical care, the K9 staff has showered your pet with love and gentle guidance throughout his or her search for a forever home!
			</p>
			
			<h2>
				Our Address
			</h2>
			
			<p>
			2944 Winchester Avenue, Ashland, United States
			</p>
			
			
		
		
		<div>
	
	
	
	
	
	
</main>
	
{%endblock%}
	
	
	
	
	
	
	
	
	
	
	
	
	
