{%extends "base.html"%}
{%block title%}Home{%endblock%}
{%block links%}

<link href="{{url_for('static', filename='css/adopt.css') }}" 
rel="stylesheet" type="text/css">
<script type="text/javascript" 
src="{{url_for('static', filename='js/adopt.js') }}">
</script>


{%endblock%}
{%block content%}
<div class="content">

<h1>Adopt now!</h1>


{%for post in posts%}


        <a href="dog?id={{post.id}}" target="blank">
            <div class="item">
                {%if post.images|length>0%}
                    <img src="{{url_for('static',filename='uploads/images/'+post.images[0].name)}}" alt="dog">
                {%else%}
                    <img src="{{url_for('static',filename='img/unknown.png')}}" alt="dog">                    
                {%endif%}
                <div class="hvrbox-layer_top">
                    <div class="hvrbox-text"> <p class="name">{{post.title}}</p>    
                    </div>
                </div>

            </div>                    
        </a>

    {%endfor%}
    <div style="clear:both;text-align:center;">
            {%if paginator.has_prev%}
                <a href='{{request.endpoint+"?page="+(paginator.page-1)|string}}'>prev</a>
            {%endif%}
            {{paginator.page}}/{{paginator.pages}}
            {%if paginator.has_next%}
                <a href='{{request.endpoint+"?page="+(paginator.page+1)|string}}'>next</a>
            {%endif%}
        {%endblock%}
        </div>
        
</div>

