{%extends "base.html"%}
{%block title%}Login{%endblock%}
{%block links%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/view.css') }}">
<script src="{{url_for('static', filename='js/view.js') }}"></script>

{%endblock%}

{%block content%}


<div class="content_img">
  <div class="slideshow-container">

    {%for img in dog.images%}
    <div class="mySlides fade">
      
      <img src="{{url_for('static', filename='uploads/images/'+img.name) }}">
    </div>
    {%endfor%}

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

  </div>

  <br>

  <div class="c1" style="text-align:center">
    {%for i in range(dog.images|length)%}
    <span class="dot" onclick="{{'currentSlide('+(i+1)|string+');'}}"></span>
    {%endfor%}
  </div>

</div>

<div class="content_info">
  <div class="name">
    <p>
      NAME: <span>{{dog.title}}</span>
    </p>
  </div>

  <div>
    <p>
      GENDER: <span>{{dog.gender}}</span>
    </p>
  </div>


  <div>
    <p>
      AGE: <span> {%if dog.age|int < 12 %}{{dog.age}} months{%else%}{{(dog.age/12)|int}} years{%endif%}</span>
    </p>

  </div>

  <div>
    <P>
      BONES: <span>TODO</span>
    </P>
  </div>

  <div>
    <P>
      TAGS:{%for tag in dog.tags%}{{tag.tag_name}} {%endfor%}
    </P>
    
  </div>
    

</div>


{%endblock%}