{%extends "base.html"%}
{%block title%}Login{%endblock%}
{%block links%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/view.css') }}">
<script src="{{url_for('static', filename='js/view.js') }}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


{%endblock%}

{%block content%}


<div class="content_img">
  <div class="slideshow-container">


    {%if dog.images|length>0%}
		{%for img in dog.images%}
		<div class="mySlides fade">
			<img src="{{url_for('static', filename='uploads/images/'+img.name) }}">
		</div>
		{%endfor%}
		
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
		
	{%else%}
		<div class="mySlides fade">
			<img src="{{url_for('static',filename='img/unknown.png')}}">                    
		</div>
	{%endif%}

  </div>

  <br>

  <div class="c1" style="text-align:center">
    {%for i in range(dog.images|length)%}
    <span class="dot" onclick="{{'currentSlide('+(i+1)|string+');'}}"></span>
    {%endfor%}
  </div>

</div>

<div class="content_info">
  <h2>INFO</h2>
  <div class="name">
    <p>
      NAME: <span>{{dog.title}}</span>
    </p>
  </div>

  <div>
    <p>
      GENDER: <span>{{dog.gender}}</span>
    </p>
  </div>


  <div>
    <p>
      AGE: <span> {%if dog.age|int < 12 %}{{dog.age}} months{%else%}{{(dog.age/12)|int}} years{%endif%}</span>
    </p>

  </div>

  <div>
    <P>
      BONES: <span>{{dog.bones|length}}</span>
      {%if current_user.is_authenticated%}
        {%if current_user.has_liked(dog.id)%}
          <span class="bone red" class="bone" onclick="like('{{dog.id}}','unlike');">
            <i class="fas fa-bone"></i>
          </span>
        {%else%}
        <span class="bone" >
          <i class="fas fa-bone" onclick="like('{{dog.id}}','like');"></i>
        </span>
        {%endif%}
      {%endif%}
    </P>
  </div>

  <div>
    <P>
      TAGS:{%for tag in dog.tags%}{{tag.tag_name}} {%endfor%}
    </P>
    
  </div>
    

</div>
<div class="container">
  <h2>
    DESCRIPTION
  </h2>
  <p>{{dog.text}}</p>
</div>
  

<div class="container_com">
    <h2>Leave your comment</h2>
  <form action="dog?id={{dog.id}}" method="POST">      
    <p id="alert" class="alertbox"></p>
     {{form.csrf_token}}
     {{form.text(class="form-control",id="text_comment")}}
    <br>
     <button type="submit" id="btn_add_comment" class="btn btn-primary">Add Comment</button>
  </form>           
     
    
</div>
<div class="comments">
    <ul id="list_comments">
        {%for comment in comments%}
        <li>
        <div>
            <p class="comtext">{{comment.text}}</p>
            <h4>Posted by {{comment.user.username}}</h4>

          
        </div>
      </li>
  {%endfor%}
    </ul>
  </div> 






 
{%endblock%}