{%extends "base.html"%}
{%block title%}K9 Home{%endblock%}
{%block links%}
<link rel="stylesheet" type="text/css"
      href="{{url_for('static', filename='css/index.css') }}" >
<script src="{{url_for('static', filename='js/index.js') }}"></script>
{%endblock%}
{%block content%}
<main>




    <div class="hero">

            <h1><span>Adopt Love</span></h1>
                               
        
        </div>
        
        <div class="rand content">
            
            <h2>Adopting</h2>
            <p>
                An animal shelter is a great place to go if you want to adopt a dog, 
                but you can’t just waltz into most shelters and waltz out with a new puppy — they have rules about adoption. 
                Animal shelters need certain information from you, and you’re wise to get some insight into the shelter, too.<br>

            </p>

            <p>
                    The Shelter is open to the public six days a week.
                    Weekends are normally very busy, so if you can plan your visit on a weekday it will be a little less hectic.

            </p>



            <p>
                How much does it cost to own a dog and care for it properly?
                    The cost of owning a dog is about more than just the expense of food. 
                    The cost of owning a dog can be estimated between $1400 to $4300 per year. 
                    Financially providing for your dogs is a big part of being a responsible dog owner.
            </p>
            
            <h2>Dog basic care</h2>
                <h3>  Feeding </h3>
                 <ul>
                    <li> Puppies eight to 12 weeks old need four meals a day.    </li>
                    <li> Feed puppies three to six months old three meals a day. </li>
                    <li> Feed puppies six months to one year two meals a day. </li>
                    <li> When your dog reaches his first birthday, one meal a day is usually enough. </li>
                </ul>

                <h3> Places to sleep         </h3>
                <p> A dog's bed is a source of comfort.
                     Sleeping habits will depend on you!
                      Many dogs will sleep with their owners;
                     however, training professionals will not recommend this for dogs who require stricter boundaries. </p>
                
                <h3> Exercise </h3>
                <p> Dogs need lots of exercise and socialization.
                     Understanding your dog’s exercise needs,
                     which can depend on breed, age and size, will help you develop an exercise routine that matches his personality. </p>

                <p>
                    Try taking your new dog or a walk, to visit with neighborhood dogs, to the dog park and in the car. 
                    Training and agility classes are another great way to exercise and strengthen the bond between you and your pet.
                </p>

                <p>
                        Dogs need to build up to longer and more intense exercise regimes. 
                        Puppies should stick to walking around the block and backyard playtime.
                         A junior dog can evolve into your running buddy. 
                         As dogs approach their senior years, exercise is also important to maintain muscle mass on aging joints. 
                        Exercise needs may change with health condition, so make sure to assess your dog’s ability to keep up as he ages.



                </p>






        </div>

        



</main>
{%endblock%}