{%extends "base.html"%}
{%block title%}Home{%endblock%}
{%block content%}
    {%for post in posts%}
        <p>
            {%if post.user.username == current_user.username or is_admin(current_user)%}
            <a href='{{url_for("delete_post")+"?id="+post.id|string}}'>X</a>
            {%endif%}
            {{post.text}} {{post.user.username}} </p>
    {%endfor%}
    
    {%if paginator.has_prev%}
        <a href='{{request.endpoint+"?page="+(paginator.page-1)|string}}'>prev</a>
    {%endif%}
    {{paginator.page}}/{{paginator.pages}}
    {%if paginator.has_next%}
        <a href='{{request.endpoint+"?page="+(paginator.page+1)|string}}'>next</a>
    {%endif%}
{%endblock%}