
{%extends "base.html"%}
{%block title%}
Anunt nou
{%endblock%}
{%block links%}
<script type="text/javascript" 
src="{{url_for('static', filename='scripts.js') }}">
</script>
<link href="{{url_for('static', filename='styles.css') }}" 
rel="stylesheet" type="text/css">
{%endblock%}


{%block content%}

{% for message in get_flashed_messages() %}
    <div style='color:red'>
    {{ message }}
    </div>
{% endfor %}
<form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.title.label }} {{ form.title }}<br>
        {{ form.post.label }} {{ form.post }}<br>
        {{form.upload(id="upload",multiple="")}}<br> 
        {{form.tags(id="taglist",onkeypress="return false;")}}<br>
        <input type="submit" value="Go">
</form>
<div id="list">
    {%for tag in tags%}
    <p>{{tag}}</p>
    {%endfor%}
</div>
{%endblock%}    